nav{
  background: white;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #d6d2d2;
}
.enlace{
  position: absolute;
  padding: 20px 50px;
}
.logo{
  height: 50px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #18191F;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 3px;
  font-family: Inter;
}
nav li a.active, nav li a:hover{
  background: #0E9AB1;
  transition: .5s;
}
.checkbtn{
  font-size: 18px;
  color: #18191F;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  font-family: Inter;
}


#check{
  display: none;
}



button {
  background-color: #4c9eaf;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 15px;
}

body {
  font-family: Arial, sans-serif;
}

.contenedor  {
  background-color: #ffffff;
  max-width: 100%;

}

.contenedor2 {
  padding: 4%;
  background-color: #F1F0F0;
  max-width: 80%;
  margin: 0 auto;
}

p{
  font-size: small;
  text-align: justify;
}


h1 {
  /* background-color: #0E9AB1; */
  text-align: center;
}

.id, .price{
  text-align: center;
}

.lista-imagenes {
  /* background-color: #0E9AB1; */
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-imagenes li {
  /* background-color: #d6d2d2; */
  display: inline-block;
  margin: 20px;
  text-align: center;
  width: 30%;
}

.lista-imagenes a {
  text-decoration: none;
  color: #333;
  display: block;
}

.lista-imagenes img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

