/*INICIA MENU*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

nav{
  background: white;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #d6d2d2;
}
.enlace{
  position: absolute;
  padding: 20px 50px;
}
.logo{
  height: 50px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #18191F;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 3px;
  font-family: Inter;
}
li a.active, li a:hover{
  background: #0E9AB1;
  transition: .5s;
}


.checkbtn{
  font-size: 18px;
  color: #18191F;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  font-family: Inter;
}
#check{
  display: none;
}
section{
  background: #F5F5F5;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}

@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 14px;
      font-family: Inter;
  }
}

@media (max-width: 858px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 18px;
      font-family: Inter;
  }
  li a:hover, li a.active{
      background: none;
      color: red;
  }
  #check:checked ~ ul{
      left:0;
  }
}


button {
  background-color: #4c9eaf;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 15px;
}

body {
  font-family: Arial, sans-serif;
}

.contenedor  {
  background-color: #ffffff;
  max-width: 100%;
  padding: 2.5% 1%;

}

.contenedor2 {
  padding: 4%;
  background-color: #F1F0F0;
  max-width: 80%;
  margin: 0 auto;
}

p{
  font-size: small;
  text-align: justify;
}


h1 {
  /* background-color: #0E9AB1; */
  text-align: center;
  padding: 1%;
}

.id, .price{
  text-align: center;
}

.lista-imagenes {
  /* background-color: #0E9AB1; */
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista-imagenes li {
  /* background-color: #d6d2d2; */
  display: inline-block;
  margin: 20px;
  text-align: center;
  width: 30%;
}

.lista-imagenes a {
  text-decoration: none;
  color: #333;
  display: block;
}

.lista-imagenes img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

