* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_39 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_61 {
  width: 436px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 133px;
  left: 502px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v8_130 {
  width: 100%;
  height: 754px;
  background: url("../images/v8_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 127px;
  overflow: hidden;
}
.v2_34 {
  width: 100%;
  height: 754px;
  background: rgba(241,240,240,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_35 {
  width: 358px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 419px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v8_44 {
  width: 261px;
  height: 249px;
  background: url("../images/v8_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 75px;
  overflow: hidden;
}
.v2_138 {
  width: 259px;
  height: 202px;
  background: url("../images/v2_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v2_139 {
  width: 75px;
  height: 75px;
  background: url("../images/v2_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 72px;
  overflow: hidden;
}
.v2_140 {
  width: 75px;
  height: 75px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2_141 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 20px;
  overflow: hidden;
}
.v2_142 {
  width: 31px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v2_143 {
  width: 9px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 13px;
}
.v2_144 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 47px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v2_145 {
  width: 259px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 122px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v3_490 {
  width: 246px;
  height: 26px;
  background: url("../images/v3_490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 0px;
  overflow: hidden;
}
.v3_491 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v3_492 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 40px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v3_493 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 142px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v3_494 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 167px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_87 {
  width: 261px;
  height: 249px;
  background: url("../images/v8_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 447px;
  left: 71px;
  overflow: hidden;
}
.v8_88 {
  width: 259px;
  height: 202px;
  background: url("../images/v8_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v8_89 {
  width: 75px;
  height: 75px;
  background: url("../images/v8_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 72px;
  overflow: hidden;
}
.v8_90 {
  width: 75px;
  height: 75px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v8_91 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 20px;
  overflow: hidden;
}
.v8_92 {
  width: 31px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v8_93 {
  width: 9px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 12px;
}
.v8_94 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 47px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v8_95 {
  width: 259px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 122px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_96 {
  width: 246px;
  height: 26px;
  background: url("../images/v8_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 0px;
  overflow: hidden;
}
.v8_97 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v8_98 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 40px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_99 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 142px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v8_100 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 167px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_101 {
  width: 261px;
  height: 249px;
  background: url("../images/v8_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 447px;
  left: 443px;
  overflow: hidden;
}
.v8_102 {
  width: 259px;
  height: 202px;
  background: url("../images/v8_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v8_103 {
  width: 75px;
  height: 75px;
  background: url("../images/v8_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 72px;
  overflow: hidden;
}
.v8_104 {
  width: 75px;
  height: 75px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v8_105 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 20px;
  overflow: hidden;
}
.v8_106 {
  width: 31px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v8_107 {
  width: 9px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 12px;
}
.v8_108 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 47px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v8_109 {
  width: 259px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 122px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_110 {
  width: 246px;
  height: 26px;
  background: url("../images/v8_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 0px;
  overflow: hidden;
}
.v8_111 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v8_112 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 40px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_113 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 142px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v8_114 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 167px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_115 {
  width: 261px;
  height: 249px;
  background: url("../images/v8_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 447px;
  left: 773px;
  overflow: hidden;
}
.v8_116 {
  width: 259px;
  height: 202px;
  background: url("../images/v8_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v8_117 {
  width: 75px;
  height: 75px;
  background: url("../images/v8_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 72px;
  overflow: hidden;
}
.v8_118 {
  width: 75px;
  height: 75px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v8_119 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 20px;
  overflow: hidden;
}
.v8_120 {
  width: 31px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v8_121 {
  width: 9px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 12px;
}
.v8_122 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 47px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v8_123 {
  width: 259px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 122px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_124 {
  width: 246px;
  height: 26px;
  background: url("../images/v8_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 0px;
  overflow: hidden;
}
.v8_125 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v8_126 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 40px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_127 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 142px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v8_128 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 167px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_59 {
  width: 261px;
  height: 249px;
  background: url("../images/v8_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 432px;
  overflow: hidden;
}
.v8_60 {
  width: 259px;
  height: 202px;
  background: url("../images/v8_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v8_61 {
  width: 75px;
  height: 75px;
  background: url("../images/v8_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 72px;
  overflow: hidden;
}
.v8_62 {
  width: 75px;
  height: 75px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v8_63 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 20px;
  overflow: hidden;
}
.v8_64 {
  width: 31px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v8_65 {
  width: 9px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 13px;
}
.v8_66 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 47px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v8_67 {
  width: 259px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 122px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_68 {
  width: 246px;
  height: 26px;
  background: url("../images/v8_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 0px;
  overflow: hidden;
}
.v8_69 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v8_70 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 40px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_71 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 142px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v8_72 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 167px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_73 {
  width: 261px;
  height: 249px;
  background: url("../images/v8_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 777px;
  overflow: hidden;
}
.v8_74 {
  width: 259px;
  height: 202px;
  background: url("../images/v8_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v8_75 {
  width: 75px;
  height: 75px;
  background: url("../images/v8_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 72px;
  overflow: hidden;
}
.v8_76 {
  width: 75px;
  height: 75px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v8_77 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 20px;
  overflow: hidden;
}
.v8_78 {
  width: 31px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v8_79 {
  width: 9px;
  height: 9px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 13px;
}
.v8_80 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 47px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v8_81 {
  width: 259px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 122px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_82 {
  width: 246px;
  height: 26px;
  background: url("../images/v8_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 0px;
  overflow: hidden;
}
.v8_83 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v8_84 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 40px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v8_85 {
  width: 96px;
  height: 26px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 142px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v8_86 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 167px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v6_63 {
  width: 100%;
  height: 82px;
  background: url("../images/v6_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.v6_56 {
  width: 100%;
  height: 82px;
  background: url("../images/v6_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_57 {
  width: 100%;
  height: 82px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 0px 1px 0px rgba(0.8980392217636108, 0.9137254953384399, 0.9490196108818054, 1);
  overflow: hidden;
}
.v6_58 {
  width: 172px;
  height: 53px;
  background: url("../images/v6_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 50px;
  overflow: hidden;
}
.v6_59 {
  width: 41px;
  color: rgba(24,25,31,1);
  position: absolute;
  top: 21px;
  left: 115px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_60 {
  width: 41px;
  color: rgba(24,25,31,1);
  position: absolute;
  top: 31px;
  left: 951px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_61 {
  width: 92px;
  color: rgba(24,25,31,1);
  position: absolute;
  top: 31px;
  left: 1028px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_62 {
  width: 58px;
  color: rgba(24,25,31,1);
  position: absolute;
  top: 31px;
  left: 1156px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}