* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_495 {
  width: 100%;
  height: 1024px;
  background: rgba(236,236,236,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_525 {
  width: 640px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 654px;
  left: 400px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v3_508 {
  width: 436px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 133px;
  left: 502px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v3_509 {
  width: 311px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 211px;
  left: 608px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v3_510 {
  width: 757px;
  height: 346px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 341px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  overflow: hidden;
}
.v3_512 {
  width: 733px;
  height: 42px;
  background: url("../images/v3_512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 769px;
  left: 353px;
  overflow: hidden;
}
.v3_513 {
  width: 341px;
  height: 42px;
  background: url("../images/v3_513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_514 {
  width: 341px;
  height: 42px;
  background: rgba(14,154,177,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v3_515 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 127px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_516 {
  width: 341px;
  height: 42px;
  background: url("../images/v3_516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 392px;
  overflow: hidden;
}
.v3_517 {
  width: 341px;
  height: 42px;
  background: rgba(182,8,60,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v3_518 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 525px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v6_82 {
  width: 100%;
  height: 82px;
  background: url("../images/v6_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_83 {
  width: 100%;
  height: 82px;
  background: url("../images/v6_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_84 {
  width: 100%;
  height: 82px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 0px 1px 0px rgba(0.8980392217636108, 0.9137254953384399, 0.9490196108818054, 1);
  overflow: hidden;
}
.v6_85 {
  width: 172px;
  height: 53px;
  background: url("../images/v6_85.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 50px;
  overflow: hidden;
}
.v6_86 {
  width: 41px;
  color: rgba(24,25,31,1);
  position: absolute;
  top: 21px;
  left: 115px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_87 {
  width: 41px;
  color: rgba(24,25,31,1);
  position: absolute;
  top: 31px;
  left: 951px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_88 {
  width: 92px;
  color: rgba(24,25,31,1);
  position: absolute;
  top: 31px;
  left: 1028px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_89 {
  width: 58px;
  color: rgba(24,25,31,1);
  position: absolute;
  top: 31px;
  left: 1156px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}




/*INICIA MENU*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

nav{
  background: white;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #d6d2d2;
}
.enlace{
  position: absolute;
  padding: 20px 50px;
}
.logo{
  height: 50px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #18191F;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 3px;
  font-family: Inter;
}
li a.active, li a:hover{
  background: #0E9AB1;
  transition: .5s;
}
.checkbtn{
  font-size: 18px;
  color: #18191F;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  font-family: Inter;
}
#check{
  display: none;
}
section{
  background: #F5F5F5;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}

@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 14px;
      font-family: Inter;
  }
}

@media (max-width: 858px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 18px;
      font-family: Inter;
  }
  li a:hover, li a.active{
      background: none;
      color: red;
  }
  #check:checked ~ ul{
      left:0;
  }
}


/*FIN MENU*/

/*INICIA SECTION*/

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  height: 100%;
}

/* Full-width inputs */
input[type=text], input[type=password] , input[type=email], input[type=number]{
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;

}


/* Set a style for all buttons */
button {
  background-color: #0E9AB1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 5px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  border-radius: 12px;
}

.buttonAceptar {
  background-color: #0E9AB1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 5px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  font-size: 20px;
  border-radius: 12px;
}

.buttonCancelar {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 5px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  font-size: 20px;
  border-radius: 12px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 5%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 20px;
  font-size: 20px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
.sesion{
  font-size: 11px;
}

.divTitle{
  height: 15%;
  width: 28%;
  margin: 2px auto;
  display: table;
  text-align: center;
  font-size: 32px;

}
a{
  color: #0E9AB1;
}

.spanTitle{
  display: table-cell; 
  vertical-align: middle;
}

.divSubTitle{
  height: 5%;
    width: 28%;
    margin: 10px auto;
    display: table;
    text-align: center;
    font-size: 25px;

}

.divBottomTitle{
  height: 5%;
    width: 40%;
    margin: 10px auto;
    display: table;
    text-align: center;
    font-size: 12px;
}
a{
  color: #0E9AB1;
}

.spanSubTitle{
  display: table-cell; 
  vertical-align: middle;
}

.divBody{
  width: 50%;
    height: 40%;
    background-color: white;
    margin: 0px auto;
    border-radius: 15px;
}

.divHead{
  width: 50%;
    margin: 0px auto;
    border-radius: 15px;
    display: flex;
}

.divHead div{
  width: 100%;
  text-align: center;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/*TERMINA SECTION*/